*.orig
*.swo
*.swp
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Icon?
Thumbs.db
ehthumbs.db
.tmp

#
# Haskell
#

*.o
*.hi

#
# Clojure
#

clojure/target
clojure/classes
clojure/checkouts
clojure/.lein-*
clojure/.nrepl-port
clojure/pom.xml
clojure/pom.xml.asc
*.jar
*.class
